Repository Public-Tree-Map/public-tree-map, pull requests merged in 2018-10, with the labels that each got.

#32 Single tree view
  src/SingleTree.css
  src/SingleTree.js
  src/tree.js
  street_tree_map/__init__.pyc
  street_tree_map/app.pyc
Labels: React, frontend

#33 Suggestions for changes to PR procedure
  README.md
Labels: governance

#36 Use rimraf and ncp instead of rm and cp for Windows compatibility.
  package.json
Labels: bug

#42 mpk file from Zach (city of SM)
  tree_planting_pruning_datashare.mpk
Labels: Data resources

#41 add pruning data shapefiles from Zach (city of SM)
  pruning/pruning1718_medians.cpg
  pruning/pruning1718_medians.dbf
  pruning/pruning1718_medians.prj
  pruning/pruning1718_medians.sbn
  pruning/pruning1718_medians.sbx
  pruning/pruning1718_medians.shp
  pruning/pruning1718_medians.shp.xml
  pruning/pruning1718_medians.shx
  pruning/pruning1718_streets.cpg
  pruning/pruning1718_streets.dbf
  pruning/pruning1718_streets.prj
  pruning/pruning1718_streets.sbn
  pruning/pruning1718_streets.sbx
  pruning/pruning1718_streets.shp
  pruning/pruning1718_streets.shp.xml
  pruning/pruning1718_streets.shx
  pruning/pruning1819_medians.cpg
  pruning/pruning1819_medians.dbf
  pruning/pruning1819_medians.prj
  pruning/pruning1819_medians.sbn
  pruning/pruning1819_medians.sbx
  pruning/pruning1819_medians.shp
  pruning/pruning1819_medians.shp.xml
  pruning/pruning1819_medians.shx
  pruning/pruning1819_streets.cpg
  pruning/pruning1819_streets.dbf
  pruning/pruning1819_streets.prj
  pruning/pruning1819_streets.sbn
  pruning/pruning1819_streets.sbx
  pruning/pruning1819_streets.shp
  pruning/pruning1819_streets.shp.xml
  pruning/pruning1819_streets.shx
  pruning/pruning1920_medians.cpg
  pruning/pruning1920_medians.dbf
  pruning/pruning1920_medians.prj
  pruning/pruning1920_medians.sbn
  pruning/pruning1920_medians.sbx
  pruning/pruning1920_medians.shp
  pruning/pruning1920_medians.shp.xml
  pruning/pruning1920_medians.shx
  pruning/pruning1920_streets.cpg
  pruning/pruning1920_streets.dbf
  pruning/pruning1920_streets.prj
  pruning/pruning1920_streets.sbn
  pruning/pruning1920_streets.sbx
  pruning/pruning1920_streets.shp
  pruning/pruning1920_streets.shp.xml
  pruning/pruning1920_streets.shx
  pruning/pruning_zones.cpg
  pruning/pruning_zones.dbf
  pruning/pruning_zones.prj
  pruning/pruning_zones.sbn
  pruning/pruning_zones.sbx
  pruning/pruning_zones.shp
  pruning/pruning_zones.shp.xml
  pruning/pruning_zones.shx
Labels: Data resources

#47 simpler IUCN designations for map point symbology
  data/species_updated_IUCN_ID.csv
Labels: Data resources

#48 Delete species_iucn_status.csv
  data/species_iucn_status.csv
Labels: Data resources

#49 Better map, refactored app structure.
  .gitignore
  Pipfile
  Pipfile.lock
  client/App.css
  client/App.js
  client/App.test.js
  client/Info.css
  client/Info.js
  client/Map.css
  client/Map.js
  client/MapContainer.js
  client/NavContainer.css
  client/NavContainer.js
  client/SingleTree.css
  client/SingleTree.js
  client/StatsContainer.css
  client/StatsContainer.js
  client/index.css
  client/index.js
  package.json
  public_tree_map/__init__.py
  public_tree_map/app.py
  public_tree_map/models.py
  public_tree_map/schema.py
  requirements.txt
  run.py
  server/index.js
  server/static/img/logo.png
  server/static/index.html
  src/Leaflet.js
  src/registerServiceWorker.js
  src/tree.js
  webpack.config.js
  yarn.lock
Labels: Leaflet/Mapbox, MVP
